.main-container {
	display: flex;
	font-family: monospace;
	background-color: bisque;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.logo {
	color: tomato;
	background-color: white;
	font-weight: bold;
	font-size: 48px;
	padding: 4px 32px;
}

a {
	font-size: 22px;
	padding: 8px;
	background-color: white;
	color: blue;
	text-decoration: none;
}

ul {
	list-style-type: none;
	display: flex;
	gap: 8px;
	margin: 0px;
	padding: 0px;
}
