.c1{
    background-color: rgb(255, 167, 167);;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.c2{
    text-align: 24x;
}

#i1{
    color: blue;
    font-size: 36px;
}

#i2{
    background-color: rgb(29, 230, 130);
    font-weight: bold;
}